/* ----------------------------------------------------------
   Modal Styles
   ---------------------------------------------------------- */

/* General Modal Styles */
.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.modal-body {
    padding: 20px;
    background-color: white;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Close Button Styles */
.modal-footer .btn-secondary {
    order: -1; /* Align close button to the left */
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #333;
}

.modal-footer .btn-secondary:hover {
    background-color: #e2e6ea;
}

/* Modal Image Styles */
.modal-body img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* Modal Button Styles */
.modal-footer .add-to-cart {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.modal-footer .add-to-cart:hover {
    background-color: #45A049;
}

/* Ingredient List Styles in Modal */
.modal-body .ingredient-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    text-align: left;
}

.modal-body .ingredient-list li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body .ingredient-list .ingredient-name {
    font-size: 1rem;
    color: #333;
}

.modal-body .ingredient-list .btn {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-body .ingredient-list .btn-minus {
    background-color: #e57373;
    color: white;
}

.modal-body .ingredient-list .btn-plus {
    background-color: #81c784;
    color: white;
}

.modal-body .ingredient-list .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
