<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Restaurant{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/categories.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/header.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/items.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/modals.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navigation.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/promotions.css') }}" rel="stylesheet">


    {% block css %}{% endblock %}
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('menu_bp.home', table_id=session.get('table_id')) }}">My Restaurant</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('menu_bp.cart_page', table_id=session.get('table_id')) }}">
                    Cart <span class="badge badge-pill badge-primary cart-item-count"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">My Restaurant &copy; 2024</span>
    </div>
</footer>

<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/category.js') }}"></script>
<script src="{{ url_for('static', filename='js/promotion.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
