<!-- Include JS scripts -->

<!-- Common JS -->
<script src="{{ url_for('static', filename='js/common.js') }}"></script>

<!-- Category JS -->
<script src="{{ url_for('static', filename='js/category.js') }}"></script>

<!-- Subcategory JS -->
<script src="{{ url_for('static', filename='js/subcategory.js') }}"></script>

<!-- Promotion JS -->
<script src="{{ url_for('static', filename='js/promotion.js') }}"></script>

<!-- Items JS -->
<script src="{{ url_for('static', filename='js/items.js') }}"></script>

<!-- Cart JS -->
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>

<!-- Navigation JS -->
<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>




<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
