<!-- Header Section (include meta tags, CSS links, etc.) -->
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- FontAwesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!-- Custom CSS -->
<!-- General Styles -->
<link href="{{ url_for('static', filename='css/general.css') }}" rel="stylesheet">
<!-- Card Styles -->
<link href="{{ url_for('static', filename='css/card.css') }}" rel="stylesheet">
<!-- Category Styles -->
<link href="{{ url_for('static', filename='css/category.css') }}" rel="stylesheet">
<!-- Promotion Styles -->
<link href="{{ url_for('static', filename='css/promotion.css') }}" rel="stylesheet">
<!-- Carousel Controls Styles -->
<link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">
<!-- Subcategory Styles -->
<link href="{{ url_for('static', filename='css/subcategory.css') }}" rel="stylesheet">
<!-- Cart Styles -->
<link href="{{ url_for('static', filename='css/cart.css') }}" rel="stylesheet">

