<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Include CSS and other meta tags -->
    {% include 'header.html' %}
</head>
<body>
    <div class="container mt-5">
        {% include 'promotions.html' %}

        <!-- Promotion Details Section (Dynamically loaded) -->
        <div id="promotion-detail-container"></div>

        {% include 'categories.html' %}
        {% include 'subcategories.html' %}
        {% include 'popular_dishes.html' %}
        {% include 'new_dishes.html' %}
    </div>
    <!-- Embed popular dishes data directly in the HTML -->
    <script type="application/json">
        {{ popular_dishes|tojson }}
    </script>
    <!-- Include JS scripts -->
    {% include 'footer.html' %}
</body>
</html>
