<div class="modal fade" id="item-modal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel"></h5>
            </div>
            <div class="modal-body">
                <img src="" alt="">
                <ul></ul>
                <div class="modal-comment">
                    <textarea id="item-comment" rows="2" placeholder="დაამატე კომენტარი..." data-i18n-placeholder="commentPlaceholder"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close-modal" data-dismiss="modal" data-i18n="close">დახურვა</button>
                <button type="button" class="btn-add-cart" id="modal-add-to-cart">
                    <i class="fas fa-cart-plus"></i> <span data-i18n="addToCart">კალათაში</span>
                </button>
            </div>
        </div>
    </div>
</div>
